<div class='container fontBlack'>
  <div class='row'>
    <div class="col-12 col-md-4 ">
      <!-- <a routerLink="/viewCheckList">
        <div class="menuBanner3"
          style='background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/ecommerce-2.jpg");'>
        </div>
      </a>
      <a class="btn btn-light btn-block myButtons" routerLink="/viewCheckList">Get Orders &raquo;
      </a> -->
    </div>
    <div *ngIf='totalOrders' class="col-12 col-md-4" style="text-align: center">
      <a (click)="getOrders()">
        <div class="menuBanner3">
          <a class="btn btn-light btn-block myButtons" >Download Orders &raquo;
          </a>
          <p class="btn btn-light btn-block myButtons" style="min-width: 200PX;">Downloading {{totalOrders }} order/s</p>
        </div>
      </a>
    </div>
    <div *ngIf='!totalOrders' class="col-12 col-md-4" style="text-align: center">
        <div class="menuBanner">
          <p *ngIf='!download' class="btn btn-light btn-block myButtons" style="width: 100%;">No new Shopify Orders</p>
          <p class="btn btn-light btn-block myButtons" *ngIf='download' [innerHTML]="this.download" style='color: red; width: 100%;'></p>
        </div>
    </div>
    <div class="col-12 col-md-4" style="text-align: center">
      <!-- <a routerLink="/incidentReport">
        <div class="menuBanner3"
          style='background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/ecommerce-PC.jpg");'>
        </div>
      </a>
      <a class="btn btn-light btn-block myButtons" routerLink="/incidentReport">Incident Report &raquo;
      </a> -->
    </div>
    <div class="col-sm-6" style="text-align: center">
      <a (click)="SPGetOrders()">
        <div class="menuBanner3">
          <a class="btn btn-light btn-block myButtons">Order Maintenance &raquo;
          </a>
        </div>
      </a>
    </div>
    <div class="col-sm-6 " style="text-align: center">
      <a (click)="getOrders3()">
        <div class="menuBanner3">
          <a class="btn btn-light btn-block myButtons" >Reports &raquo;
          </a>
        </div>
      </a>
    </div>
  </div>
</div>

<ngx-spinner bdOpacity=0.9 bdColor="" size="medium" color="#f30808" type="ball-running-dots" fullScreen="false">
</ngx-spinner>
<p [hidden]="!globals.isSyncing" style="text-align: center; font-size: 2em; color: red;">Getting {{this.totalOrders }} Orders...</p>

