.sidenav-container {
    height: 100%;
}


/* .mainBackGround {
  background-color: white!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.25em;

} */

.sidenav {
    width: 150px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.hidden {
    display: none;
}

@media (min-width: 700px) {
    /* .sidenav {
        display: none;
    } */
    .mobileFont {
      font-size: 4vw;
    }

}

.sideButton {
    line-height: 1;
    text-align: right;
    top: 0;
    margin-right: -5px;
    border: 1px solid white;
    margin-bottom: 0.5em;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    background-color: #082943;
}

.sideButton:hover {
    /* opacity: 0.8; */
    background-color: white;
    color: #082943;
    font-weight: 900;
    border: 1px solid #ff0000;
}


.sideAdmin {
  line-height: 1;
    text-align: right;
    border: 1px solid white;
    padding: 7px;
    border-radius: 8px;
    color: white;
    background-color: #082943;
    height: 2em;
    min-width: 200px;
}
.sideAdmin:hover {
  /* opacity: 0.7; */
  background-color: white;
  color: #082943;
  font-weight: 900;
  border: 1px solid #ff0000;
}

.sideMenu.button {
    line-height: 1;
    text-align: right;
    top: 0;
    margin-right: -5px;
    border: 1px solid white;
    margin-bottom: 0.5em;
    padding: 5px;
    width: 100%;
    border-radius: 8px;
    background-color: #082943;
}

.sideMenu.button :hover {
  border: 1px solid #082943;
  color: #082943;
  background-color: white;
}

.mat-menu-panel {
    background-color: red;
    color: black;
    opacity: 0.5;
}

.sideMenu {
    line-height: 1;
    opacity: 0.5;
    padding: auto;
    border-radius: 8px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
    background-color: darkorange;
    background: brown;
}


/* .sideButtonSite {
   line-height: 1;
   text-align: right;
   top: 0;
   margin-right: -5px;
   border: 1px solid gray;
   margin-bottom: 0.5em;
   padding: 5px;
   width: 98PX;
 }

 .sideButtonAdmin {
   line-height: 1;
   text-align: right;
   top: 0;
   margin-right: -5px;
   border: 1px solid orange;
   margin-bottom: 0.5em;
   padding: 5px;
   width: 98PX;
 }

 .sideButton:hover,
 .sideButtonSite:hover,
 .sideButtonAdmin:hover
   {
   opacity: 0.5;
   background-color: lightgray;
   border: 2px solid #ff0000;
   margin: 2px;
 }


.sideItems {
  margin-bottom: 0.5em;
  border: solid 1px white;
  padding: 5px;
} */

#Name {
    color: white;
    max-width: 10em;
    left: 0;
    position: absolute;
}

#hamburger {
    left: 0;
    position: absolute;
}

/* #cdk-overlay-0 {
    border-radius: 20px;
} */


/* .sideMenu.button {
  background-color: maroon;
} */


/* .sideMenuddItem {
  background-color: maroon;
  border-radius: 20px;
  border: 2px solid yellow;
  margin: 5px;
  left: -5px;
  color: white;
} */

.spacer {
    flex: 1 1 auto;
}

mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: #082943;
    text-decoration: none;
}

.content {
    margin-top: 0;
    z-index: 1;
}

.navbar {
    background: #082943;
    height: 5rem;
    color: #082943;
}

.mat-drawer {
    background-color: rgba(0, 0, 0, 0.12);
    color: #f8f9fa;
}

.compName {
    margin-left: 15px;
}

.myLink {
    text-decoration: none;
    color: white;
}

.myLink:hover {
    color: #082943;
    background-color: white
}

mat-toolbar.mat-primary {
    background: #082943;
    height: 4rem;
    color: white;
    text-align: center;
    border-bottom: red solid 2px;
}

#compImg {
    /* background: url("src/assets/LogoSats.png") no-repeat; */
    width: 80px;
    height: 101%;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav:hover .nav-link:hover {
    color: #082943;
    background-color: white
}
