<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [ngClass]="{hidden: !(isHandset$ | async) === true}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
    <button mat-button [matMenuTriggerFor]="SATS" class="sideButton">SATS Admin</button>
    <mat-menu #SATS="matMenu" class="sideMenu">
      <button mat-menu-item routerLink="/#" class='btn btn-sm sideAdmin' (click)="drawer.toggle()">SATS
        Admin &raquo;</button>
      <button mat-menu-item routerLink="/#" class='btn btn-sm sideAdmin' (click)="drawer.toggle()">Add New
        User &raquo;</button>
    </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/menu"><span>The Fold Group</span></a>
      <span class="spacer"></span>
      <!-- <a href="https://750d4800b3a3c941d29823e4c00de88c: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@holdstest.myshopify.com/admin/api/2020-04/orders.json" target="blank">Link 1</a> -->
      <a>{{ globals.FirstName }}</a>
      <button *ngIf="!(globals.loginUser && globals.FirstName)" class="btn btn-outline-light" routerLink="/login">Login</button>
      <button *ngIf="globals.loginUser && globals.FirstName" class="btn btn-outline-light"
        (click)="Logout()">Logout</button>
    </mat-toolbar>
    <ng-content  class="hero-image"></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
