<div class='container-fluid' *ngIf="this.filteredText">
  <div class='row' style='text-align: center; margin: auto;'>
    <div class='col-12' style='text-align: center;'>
      <h2><u>The Fold Group Orders</u><button class="btn fontWhite" style="top: 0px; position: absolute;"
        (click)="refresh()" mat-icon-update><mat-icon>update</mat-icon></button></h2>

    </div>
  </div>

  <div class='row' style='padding-top: 5px; background-color: darkgrey; margin-left: 10px; margin-right: 10px;'>
    <div class='col-sm-2'>
      <label class='bu' style='margin-bottom: 0px;'>
        Search:
      </label><br>
      <input placeholder="Search ..." [value]="searchText" (keyup)="filter($event.target.value)"
        style="height: 2.5em; width: 100%; border-radius: 5px; vertical-align: middle; padding-left: 5px;" [(ngModel)] ='searchText'>
    </div>
    <div class='col-sm-3'>
      <label class='bu' style='margin-bottom: 0px;'>
        From Date:
      </label>
      <div class="input-group">
        <input class="form-control" placeholder="dd-mm-yyyy" name="dpFrom" [(ngModel)]="dateFrom" ngbDatepicker
          #dpFrom="ngbDatepicker" (closed)="preFilter()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dpFrom.toggle(); preDate()" type="button">📅</button>
        </div>
      </div>
    </div>
    <div class='col-sm-3'>
      <label class='bu' style='margin-bottom: 0px;'>
        To Date:
      </label>
      <div class="input-group">
        <input class="form-control" placeholder="dd-mm-yyyy" name="dpTo" [(ngModel)]="dateTo" ngbDatepicker
          #dpTo="ngbDatepicker" (closed)="preFilter()">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dpTo.toggle(); preDate()" type="button">📅</button>
        </div>
      </div>
    </div>
    <div class='col-sm-2 center'>
      <label class='bu' style='margin-bottom: 0px;'>
        Un-Allocated Only:
      </label>
      <div class="custom-control form-control-lg custom-checkbox" style="padding-top: 0em;">
        <input type="checkbox" class="custom-control-input" id="Status" name="Status" #Status="ngModel"
          [(ngModel)]="outstanding" (change)='preFilter()'>
        <label class="custom-control-label" for="Status"></label>
      </div>
    </div>
    <div class='col-sm-2 center'>
      <label class='bu' style='margin-bottom: 0px;'>
        Not Shipped:
      </label>
      <div class="custom-control form-control-lg custom-checkbox" style="padding-top: 0em;">
        <input type="checkbox" class="custom-control-input" id="Shipped" name="shipped" #Shipped="ngModel"
          [(ngModel)]="shipped" (change)='preFilter()'>
        <label class="custom-control-label" for="Shipped"></label>
      </div>
    </div>
  </div>
  <div class='card' style='margin: auto;'>
    <table class="table table-bordered table-responsive-sm w-auto table-condensed table-striped" style='font-size: 1em;'
      *ngIf='filteredText'>
      <thead class="table-primary">
        <tr>
          <th (click)="sort('OrderNumber')">Order ({{filteredText.length}})<br>(Open Shopify)</th>
          <th (click)="sort('OrderDate')">Date</th>
          <th (click)="sort('OrderCustomer')">Customer</th>
          <!-- <th (click)="sort('OrderPayment')" *ngIf="!(isHandset$ | async)">Payment</th> -->
          <th (click)="sort('FoldStore')">Store<br>(Details)</th>
          <th (click)="sort('FoldStatus')" *ngIf="!(isHandset$ | async)">Status</th>
          <th (click)="sort('OrderItemTotal')">Item Total</th>
          <th (click)="sort('OrderTotal')" *ngIf="!(isHandset$ | async)">Total</th>
          <th (click)="sort('FoldPaypal')">Paypal Fees</th>
          <th (click)="sort('FoldShippingCost')">Shipping Fees</th>
          <th (click)="sort('FoldComments')" *ngIf="!(isHandset$ | async)">Comments</th>
          <th [colSpan]=2></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pak of this.filteredText; let i = index" [attr.data-index]="i" [attr.data-id]="pak.FoldId"
          [ngClass]="(pak.FoldStatus)?'fontBlack':'fontRed'">
          <td>
            <button *ngIf='!pak.FoldStatus && (pak.FoldStore !== "NO SKU" && pak.FoldStore !== "Multiple Stores" )'
              class="btn btn-warning btn-small btn-block" (click)="getOrder(pak.OrderId)"
              style='text-align: left;'>#{{ pak.OrderNumber }}</button>
            <button *ngIf='!pak.FoldStatus && (pak.FoldStore === "NO SKU" || pak.FoldStore === "Multiple Stores" )'
              class="btn btn-danger btn-small btn-block" (click)="getOrder(pak.OrderId)"
              style='text-align: left;'>#{{ pak.OrderNumber }}</button>
            <button *ngIf='pak.FoldStatus === "VOIDED" || pak.FoldStatus === "CLOSED"' class="btn btn-success btn-small btn-block"
              (click)="getOrder(pak.OrderId)" style='text-align: left;'>#{{ pak.OrderNumber }}</button>
          </td>
          <td>
            {{ pak.OrderDate}}
          </td>
          <td>
            {{ pak.OrderCustomer}}
          </td>
          <!-- <td *ngIf="!(isHandset$ | async)">
            {{ pak.OrderPayment}}
          </td> -->
          <td>
            <button *ngIf='!pak.FoldShippingCost && (pak.FoldStore !== "NO SKU" && pak.FoldStore !== "Multiple Stores" ) && pak.FoldShippingCost != 0'
              class="btn btn-warning btn-small btn-block" (click)="openComments(comments, pak)"
              style='text-align: left;'>{{ pak.FoldStore }}</button>
            <button *ngIf='(pak.FoldStore === "NO SKU" || pak.FoldStore === "Multiple Stores" )'
              class="btn btn-danger btn-small btn-block" (click)="openComments(comments, pak)"
              style='text-align: left;'>{{ pak.FoldStore }}</button>
            <button *ngIf='(pak.FoldShippingCost || pak.FoldShippingCost === 0) && pak.FoldStore !== "Multiple Stores"' class="btn btn-success btn-small btn-block"
              (click)="openComments(comments, pak)" style='text-align: left;'>{{ pak.FoldStore }}</button>
          </td>
          <td *ngIf="!(isHandset$ | async)">
            {{ pak.FoldStatus}}
          </td>
          <td>
            {{ pak.OrderItemTotal}}
          </td>
          <td *ngIf="!(isHandset$ | async)">
            ${{ pak.OrderTotal}}
          </td>
          <td>
            <input type="text" *ngIf="pak.editing && oldReport" [(ngModel)]="oldReport.FoldPaypal"
                class="form-control" style="margin-bottom: 0px; border-radius: 5px; max-width: 100px; " />
              <span *ngIf="!pak.editing">${{ pak.FoldPaypal }}</span>
          </td>
          <td>
            <input type="text" *ngIf="pak.editing && oldReport" [(ngModel)]="oldReport.FoldShippingCost"
                class="form-control" style="margin-bottom: 0px; border-radius: 5px; max-width: 100px; " />
              <span *ngIf="!pak.editing">${{ pak.FoldShippingCost }}</span>
          </td>
          <td *ngIf="!(isHandset$ | async)">
            <span [innerHTML]="pak.FoldComments" style="width:95%; opacity: 0.8; font-size: 1em"></span>
          </td>
          <td>
            <div *ngIf='pak.OrderDate !== "Total"' class="btn-group btn-group-sm" role="group" style="width: 100%">
              <button class="btn btn-success btn-sm" *ngIf="pak.editing"
              (click)="updateFold();pak.editing=false">Update</button>
            <button class="btn btn-info btn-sm" *ngIf="!pak.editing"
              (click)="pak.editing=true; getFold(pak.FoldId);">Edit</button>
              <button class="btn btn-secondary btn-sm" *ngIf="pak.editing"
              (click)="pak.editing=false">Cancel</button>
          </div>
          </td>
        </tr>
        <tr *ngIf="filteredText.length === 0">
          <td colspan='12'>
            <span>No Information Available</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #comments let-modal class="container-fluid" style="width: 100%; max-width: 1500px;">
  <div class="modal-header container-fluid fontBlack">
    <h3 class="modal-title" id="modal-basic-title">Sale Comments<br><b><u>Order: #{{OrderNo}}</u></b> </h3><br>
    <hr>
    <span [innerHTML]="FoldComments"></span>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body appBackGround">
    <div>
      <button class="btn btn-info btn-small btn-block center"
      (click)="openVend()" style='text-align: center; max-width: 250px; margin: auto; '>Open Vend Order</button>
    </div>
    <div *ngIf='this.Allocated === true' style="text-align: center; color: black; font-size: 1em; font-weight: bold; text-decoration: underline;">
      <span>This Order has been allocated to: {{this.allocatedStore}}</span>
    </div>
    <div *ngIf='!this.Allocated' style="text-align: center;">
      <button class="btn btn-warning btn-small btn-block center"
      (click)="getCurrent()" style='text-align: center; max-width: 250px; margin: auto; font-weight: bold; text-decoration: underline;'>Get Current Stock Levels<br>(This will take some time!)</button>
    </div>
    <table class="table table-bordered table-responsive-sm w-auto table-condensed table-striped" style='font-size: 1em; width: 100%; font-weight: bold;'
    *ngIf='MultiOrders'>
    <thead class="table-primary">
      <tr>
        <th (click)="sort('ItemId')">No<br>Ordered</th>
        <th (click)="sort('ItemSku')">SKU</th>
        <th (click)="sort('Store')">Available At</th>
        <th (click)="sort('LastSale')">Last Sale</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="(pak.ItemId)?'fontBlack':'fontRed'" *ngFor="let pak of this.MultiOrders; let i = index" [attr.data-index]="i">
        <td>
          <span *ngIf='pak.ItemSKU != "Total"'>{{ pak.ItemId }}</span>
          <!-- <span *ngIf='pak.ItemSKU === "Total"'>{{ OrderItemTotal}}</span> -->
        </td>
        <td>
          <span *ngIf='pak.ItemSKU != "Total"'>{{ pak.ItemSKU}}</span>
        </td>
        <td>
          <select *ngIf='pak.ItemSKU != "Total"' class="custom-select" style="width: 100%" name="Id" (change)='onProdSelect($event)' >
            <option *ngIf='!this.Allocated' [value]="0">-Select Store-</option>
            <option *ngFor="let s of pak.Store" [value]="s.SKU">{{ s.Stock }} - {{ s.Store}}</option>
          </select>
          <!-- <label  *ngIf='pak.ItemSKU === "Total"' >{{ this.tempSplit.length }}</label> -->
        </td>
        <td>
          {{ pak.LastSale }}
        </td>
      </tr>
      <tr *ngIf='this.Allocated'>
        <td colspan="4" style="text-align: center;">
        <span style="text-align: center;" [innerHTML]="FoldComments"></span>
      </td>
      </tr>
      <tr *ngIf='!this.Allocated'>
        <td colspan="4" style="text-align: center;">
          <button *ngIf='this.tempSplit.length === OrderItemTotal && ReadyForPost' class="btn btn-success btn-small"
              (click)="splitOrders(); modal.dismiss()" style='text-align: center;'>Process Orders</button>
        </td>
      </tr>
      <tr *ngIf="MultiOrders.length === 0">
        <td colspan='6'>
          <span>No Information Available</span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-responsive-sm w-auto table-condensed table-striped" style='font-size: 1em; width: 100%; font-weight: bold;' *ngIf='splitTotal.length > 0'>
  <thead class="table-primary">
    <tr>
      <th (click)="sort('Store')">Store</th>
      <th (click)="sort('Items')">Items</th>
      <th (click)="sort('SKUList')">SKU Numbers</th>
      <th (click)="sort('Processed')">Process Order</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pak of this.splitTotal; let i = index" [attr.data-index]="i">
      <td>
        <span>{{ pak.Store }}</span>
      </td>
      <td>
        <span>{{ pak.Items}}</span>
      </td>
      <td>
        <span>{{ pak.SKUList}}</span>
      </td>
      <td>
        <button *ngIf='this.tempSplit.length === OrderItemTotal && !pak.Processed && pak.Store !="REFUND"' class="btn btn-info btn-small"
              (click)="testSingle(pak.Store)" style='text-align: left;'>Confirm Order</button>
              <button *ngIf='this.tempSplit.length === OrderItemTotal && !pak.Processed  && pak.Store ==="REFUND"' class="btn btn-danger btn-small"
              (click)="testSingle(pak.Store)" style='text-align: left;'>Confirm Order</button>
        <span *ngIf='pak.Processed'>{{ pak.Processed }}</span>
      </td>
    </tr>
    <tr *ngIf="splitTotal.length === 0">
      <td colspan='6'>
        <span>No Information Available</span>
      </td>
    </tr>
  </tbody>
</table>

  <ngx-spinner id="pageSpinner" #pageSpinner bdOpacity=0.9 bdColor="" size="medium" color="#f30808" type="ball-running-dots" fullScreen="false">
    <h1 style="color: white; background-color: darkgray;"> Loading... </h1>
  </ngx-spinner>

  </div>
</ng-template>

<ngx-spinner id="pageSpinner" #pageSpinner bdOpacity=0.9 bdColor="" size="medium" color="#f30808" type="ball-running-dots" fullScreen="false">
  <h1 style="color: white; background-color: darkgray;"> Loading... </h1>
</ngx-spinner>
