<div class='container fontBlack'>
  <div class='row'>
    <div class="col-12 col-md-4 ">
    </div>
    <div class="col-12 col-md-4" style="text-align: center">
      <a (click)="login()">
        <div class="menuBanner3">
          <a class="btn btn-light btn-block myButtons" >login &raquo;
          </a>
          <p class="btn btn-light btn-block myButtons" *ngIf='totalOrders'>{{ totalOrders }} Orders</p>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-4" style="text-align: center">
    </div>
  </div>
</div>
