/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; color: white; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: white; }

.white {
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/ecommerce-Shop.jpg");
//   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/ecommerce-card.jpg");
//   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/ecommerce-PC.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.menuBanner3 {
  margin-top: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 20vw;
  min-height: 12em;
  border-radius: 10px;
  a {
    top: 40%;
    position: relative;
    font-size: large;
    width: 80%;
    margin: auto;
  }
  p {top: 40%;
    position: relative;
    width: 20%;
    margin: auto;}
}

.menuBanner {
  margin-top: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 20vw;
  min-height: 12em;
  border-radius: 10px;
  a {
    top: 40%;
    position: relative;
    font-size: large;
    width: 80%;
    margin: auto;
  }
  p {top: 40%;
    position: relative;
    width: 20%;
    margin: auto;}
}



.menuBanner2 {
  margin-top: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 25vw;
  min-height: 6em;
}


.menuBanner3:hover {
  opacity: 0.8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-color: black;
  border: white solid 1px;
}

.myButtons {
  position: inherit;
  border: 2px solid #082943;
  padding-left: 1px;
  padding-right: 1px;
}

.toast-bootstrap-compatibility-fix {
  opacity:1;
}
// Look and Feel
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fright {
  float: right;
}

.center {
  text-align: center;
}

ul.b {
  list-style-type: square;
}

div.validation-error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
  border: 2px solid red;
}

#container {
  div.error-message i {
    vertical-align: middle !important;
  }

  input.ng-invalid.ng-dirty {
    border-bottom-color: red !important;
    box-shadow: 0 1px 0 0 red !important;
  }
}
.custom-control-label::before,
.custom-control-label::after {
//  top: 1.75rem;
  width: 2.75rem;
  height: 2.00rem;
  border-radius: 10px;
  vertical-align: middle;
}


//Colors
.appBackGround {
  background-color: #dfecf7;
}

.backBlue {
  background-color: #082943;
}

.whiteBorder {
  border: solid 1px white;
}

.redBorder {
  border: solid 1px red;
}

.borderRed2 {
  border: solid 3px red;
}

.blueBorder {
  border: solid 1px #082943;
}

.yellowBorder {
  border: solid 1px yellow;
}

.backPink {
  background-color: lightpink;
}

.backKhaki {
  background-color: khaki;
}

.backSalmon {
  background-color: lightsalmon;
}

.backYellow {
  background-color: lightyellow;
}

//Font
.fontWhite {
  color: white;
}

.fontBlack {
  color: black;
}

.fontRed {
  color: red;
}

.fontMaroon {
  color: maroon;
}

.fontYellow {
  color: yellow;
}

.fontLime {
  color: lime;
}

.fontDarkGreen {
  color: darkgreen;
}

.fontDarkOrange {
  color: darkorange;
}

.fontOrange {
  color: orange;
}

.fontCrimson {
  color: crimson;
}

.bold {
  font-weight: bold;
}

.fontSize05 {
  font-size: 0.5em;
}

.fontSize075 {
  font-size: 0.75em;
}

.fontSize15 {
  font-size: 1.5em;
}

.fontSize2 {
  font-size: 2em;
}

.fontSize25 {
  font-size: 2.5em;
}

.footAll {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  text-align: center;
}

#pageFooter {
  border-top: black solid 2px;
}

// #pageSpinner {
//   z-index: -1;
//     position:relative;
// }
